<h1>Welcome to 10,000 hours, <%= @user.first_name %></h1>
<p>
  You have been added to the site and your username is: <%= @user.email %>.<br>
  One of our organisers will send you your password separately.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
