
<section id="projects" class="gray-section projects">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Projects</h1>
        <% if @projects.size == 0 %>
        <p class="landing-section-paragraph">
          We're still in the planning stage and haven't released any project dates
          yet. Please come back and check again soon.
        </p>
        <% else %>
        <p class="landing-section-paragraph">
          This is just a selection of the projects that are running this year. We have
          a wide variety so hopefully there will be something for everyone!
        </p>
        <% end %>
      </div>
    </div>
    <% if @projects.size > 0 %>
    <div class="row">
      <% @projects.each_with_index do |project,index| %>
      <% if index > 0 && (index % 3 == 0) %>
      </div><div class="row">
      <% end %>
      <div class="col-xs-12 col-sm-4 ">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><%= project.project_name %></h5>
          </div>
          <div class="ibox-content" style="color: inherit;">
            <p><%= styled_project_dates(project) %></p>
            <%= markdown(project.summary) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <p style="margin-top: 20px; margin-bottom: 20px;">
          <%= link_to projects_index_path, class: 'btn btn-lg btn-primary' do %>
            <span class="text-uppercase">See all projects</span>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</section>
