

<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>My project sign-ups</h2>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-xs-12">
            <em>
            You are not currently signed up for any projects. Please use
            the information below
            </em>
          </div>
        </div>
      </div>
      <div class="ibox-footer">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>My personal projects</h2>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-xs-12">
            <em>
            This will allow the user to supply details about their own,
            personal projects.
            </em>
          </div>
        </div>
      </div>
      <div class="ibox-footer">
      </div>
    </div>
  </div>
</div>
