<p>Welcome <%= @email %>!</p>

<p>It would really help us if you would confirm your account email using the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  <small><i>
  You have received this email because you (or a family member) has signed
  up to 10000 hours. If this is not the case, please delete this email or
  contact Causeway Coast Vineyard.
  </i></small>
</p>
